* {
  box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #ededed !important;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: black;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: black;
}

.required-symbol {
    color: red;
}

#form-block {
    width: 30%;
}

.form-control, .form-select {
    padding: 5px !important;
}

.active {
    color: #0C5ED7 !important;
    text-decoration: underline !important;
}

.student-name {
    font-size: x-large;
    width: fit-content;
    margin: 0;
    padding: 0 0 0 4rem;
}

.change-student {
    font-size: large;
    width: fit-content;
    color: #5898f9;
}

.mobile-toggler {
    background-color: transparent;
}

#modal-dialog{
    margin: 0;
    width: 30%;
}

#modal-content{
    width: 100vw;
    background-color: #ededed;
}

#modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 16px;
    border-bottom: 0;
}

#modal-header .btn-close{
    opacity: 1;
    margin: 0;
}

#modal-body{
    margin: 0 5%;
    flex: unset;
}

#modal-body .lines{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10%;
    cursor: pointer;
    transition: all .5s ease;
}

#current-interventions {
    width: 30% !important;
}

@media screen and (max-width: 1100px) {
    #form-block {
        width: 50%;
    }
    #current-interventions {
        width: 50% !important;
    }
}

@media screen and (max-width: 1000px) {
    .navbar {
        display: none;
    }
}

@media screen and (max-width: 750px) {
    #form-block {
      width: 80%;
    }
    #modal-dialog{
        width: 50%;
    }
    #current-interventions {
        width: 80% !important;
    }
}

@media screen and (max-width: 500px) {
    #form-block {
      width: 80%;
    }
    #modal-dialog{
        width: 60%;
    }
}